body {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

#root{
  width: 100%;
}

#device {
  width: 100%;
  height: 150vw;
  border-radius: 15vw;
  background-color: pink;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#bars {
	height: 10vh;
	width: 80%;
	background-color: red;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}
.bar{
	display: flex;
	flex-flow: row no-wrap;
	justify-content: space-around;
	background-color: green;
	width: 100%;
}
.status_levels{
	width: 70%;
	
	display: flex;
	justify-content: space-between;
}
	
#screen {
  margin-top: 5vh;
  width: 60vw;
  height: 60vw;
  background-image: url("Background.png");
  background-size: 100% auto;
}
#border{
	position: relative;
	z-index: 10;
	width: 85vw;
	height: auto;
	top: -9.6vw;
	left: -11.4vw;
}

#buttons {
  margin-top: 8vh;
  width: 80%;
  height: 12vh;
  
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

#buttons button{
	width: 25%;
	background-color: transparent;
	border: none;
	
}

#poop_button {}

#heart_button {
	background-image: url("heart_btn.svg");
	background-size: 100% auto;
}
#heart_button:hover{
	background-image: url("heart_btn_pressed.svg");
}

#food_button {}
