body {
  margin: 0;
  padding: 0;
}

#wrapper{
  width: 100%;
}

#device {
  width: 100%;
  height: 150vw;
  border-radius: 15vw;
  background-color: pink;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#bars {
  margin-top: 7vh;
  height: 10vh;
  width: 80%;
  background-color: red;
}

#screen {
  margin-top: 5vh;
  width: 60vw;
  height: 60vw;
  background-color: yellow;
}

#buttons {
  margin-top: 5vh;
  width: 80%;
  height: 10vh;
  background-color: blue;
}

#poop_button {}

#heart_button {}

#food_button {}
