.App {
  text-align: center;
}
#device {
  width: 100%;
  height: 150vw;
  border-radius: 15vw;
  background-color: #5f5899;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

#egg_border {
  position: absolute;
  width: 90vw;
  height: 90vw;
}

#buttons {
  width: 80%;
  height: 12vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

#bars{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  width: 90vw;
  height: 25vw; /*right size is 19vw;*/
  margin-bottom: -6vw;
}
