Bar {
  height: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.light {
  margin: 0.5vw;
  margin-bottom: 1vw;
  height: 8vw;
  width: 8vw;
}

.bar_icon {
  margin: 1vw;
  height: 10vw;
  width: 10vw;
}
