.bar{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}

.light {
  margin: 0.5vw;
  margin-bottom: 2vw;
  height: 8vw;
  width: 8vw;
}

.bar_icon {
  margin: 0vw;
  height: 10vw;
  width: 10vw;
}
